.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.condainer {
  border:1px solid gray;
  text-align: center;
  align-items: center;
}
.sideicon{
  background-color:rgb(178, 174, 174);
  height:40px;
  width:40px;
  border-radius: 5px;
  margin-left:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  text-align: center;
  border: 0px;
}
.firstpart{
  border:1px solid gray;
}
.size{
  border-radius: 5px;
  height: 3rem;;
  width: 22rem;
  padding:5px;
  border:1px solid rgb(238, 234, 234);
}
.form-check{
  border-radius: 5px;
  height: 4rem;;
  width: 22rem;
  padding:5px;
  border:1px solid rgb(238, 234, 234);
}
#iconbolt{
  color: rgb(238, 234, 234);
  height:30px;
  width:30px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgb(234, 176, 67);
  border-radius: 6px;
  
}
.fabolt{
 
  margin-left: 40px;
  margin-right: 15px;
}
#iconstar{
  height:30px;
  width:30px;
  margin-right: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.divaudio{
  display:flex
}
.divaudio{
  border:1px solid rgb(238, 234, 234);
}